/*Estilos para la pagina de Cafe*/

/*Selector Unitario*/

*{
    padding: 0;
    margin: 0;
 }
 
 /*Selector de etiqueta*/
 body{
    background-image: url('/img/Fondo\ de\ last\ year.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    margin: 0; 
    padding: 0;
 }
 /*selector de clase*/
 
 .img{
     height: 100px;
     border-radius: 1px;
     margin-left: 5px;
     margin-right: 5px;
 
 }

 .imgheader{
    width: 85%;
    height: 35%;
    border-radius: 1px;
    margin-left: 5px;
    margin-right: 5px;

}
 
 .texto {
     text-align: justify;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 15px;
     padding: 5px 10px;
     color: white;    
 }
 .texto2 {
     text-align: left;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 30px;
     padding: 5px 10px;
     color: white;
 }
 
 .texto3{
     text-align: left;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 15px;
     padding: 5px 10px;
     color: white;
 }
 .texto4{
     list-style-type: circle;
     text-align: center;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 18px;
     padding: 5px 10px;
     color: white;
 }
 
 .encabezado-articulo {
     padding: 5%;
     text-align: center;
     background-color: #ea251c; 
     color: #ea251c(255,255,255);
 
 }
 
 .encabezado-aside{
     padding: 15%;
     text-align: center;
     background-color: #362f2f;
     color: white;
     margin: 1em 2em;
 }
 
 .barraNavegacion-aside{
     text-align: justify;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 20px;
     padding: 0 25px;
 }
 
 .lista-aside{
     padding: 10px;
 }
 
 .lista-aside li{
     display: flex;
     text-align: left;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 20px;
     padding: 0 2px;
     list-style: square;
     color: #b46424; 
 }
/* Selectores de ID */
#contenedor{
    background-color: #34495E;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
 }
 
 #encabezado{
     height: 15%;
     background-color: #000;
     margin: 1em;
     padding: 0 50px;
     border-radius: 5px ;
     display: flex;   /*bases para poder centrar*/
     justify-content: center;
     align-items: center;
 }
 
 #menu {
     height: 5%;
     background-color: #b46424;
     margin: 1em;
     border-radius: 5px;
 }
 
 #contenido{
     height: 95%;
     width: 58%;
     background-color: #362f2f;
     margin: 0.5em;
     display: inline-block;
     border-radius: 5px;
     text-align: justify; /*fondo*/
 }
 
 #fueraSeccion{
     width: 35%;
     height: 95%;
     background-color: #b58c7c;
     margin: 0.5em;
     display: inline-block;
     vertical-align: top;
     border-radius: 5px;
 }
 #pie {
     height: 10%;
     background-color: #3a251c;
     text-align: center;
     padding: 5px;
 }
 #pie h4{
     padding: 15px;
     font-size: 30px;
 }
 
 /*Selector de etiqueta*/
 ul{
     padding: 15px;
     font-size: 16px;
     text-align: center;
     list-style-type: circle;
 }
 
 li{
     display: inline;
     padding: 10px 30px;
     margin: 3em;
     
 }
 /*Selector de evento*/
 li a:hover {
     color: yellow;
     text-decoration: none;
     list-style: none;
 }