/*Estilos para la pagina de Cafe*/

/*Selector Unitario*/

*{
    padding: 0;
    margin: 0;
 }
 
 /*Selector de etiqueta*/
 body{
     background-color: #f1ecea;
     color: white;
     background-image: url('/img/Fondo\ de\ last\ year.jpg');
     background-size: cover; 
     background-repeat: no-repeat; 
 }
 /*selector de clase*/
 
 .img{
     height: 100px;
     border-radius: 1px;
     margin-left: 5px;
     margin-right: 5px;
 
 }
 
 .imgeje{
    max-width: 100%; /* Hace que la imagen tenga un ancho máximo del 100% del contenedor */
    height: 200px; /* Mantiene la proporción de aspecto original de la imagen */
    display: block; /* Cambia la visualización a "block" para centrar horizontalmente */
    margin: 0 auto; /* Centra horizontalmente la imagen en su contenedor */
    border-radius: 1px;
 }

 .imgheader {
    width: 100%; /* Ajusta el ancho de la imagen del encabezado */
}

.imgicono{
    width: 40px;
    height: 60px;
    border-radius: 1px;
    margin-left: 5px;
    margin-right: 5px;
}

 .texto {
     text-align: justify;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 10px;
     padding: 5px 10px;
     color: white;    
 }
 .texto2 {
     text-align: left;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 30px;
     padding: 5px 10px;
     color: white;
 }
 
 .texto3{
     text-align: left;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 15px;
     padding: 5px 10px;
     color: white;
 }
 .texto4{
     list-style-type: circle;
     text-align: center;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 18px;
     padding: 5px 10px;
     color: white;
 }

 .texto5{
    list-style-type: circle;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    padding: 5px 10px;
    color: white;
 }

 .texto6{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 5px 10px;
    color: white;
 }
 
 .encabezado-articulo {
     padding: 5%;
     text-align: center;
     background-color: #ea251c; 
     color: #ea251c(255,255,255);
 
 }
 
 .encabezado-aside{
     padding: 15%;
     text-align: center;
     background-color: #362f2f;
     color: white;
     margin: 1em 2em;
 }
 
 .barraNavegacion-aside{
     text-align: justify;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 20px;
     padding: 0 25px;
 }
 
 .lista-aside{
     padding: 10px;
 }
 
 .lista-aside li{
     display: flex;
     text-align: left;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 20px;
     padding: 0 2px;
     list-style: square;
     color: #c93e3e; 
 }
/* Selectores de ID */
#contenedor{
     width: 900px;
     height: 1500px;
     background-color: #083868;
     max-width: 0 auto;
     border-radius: 10px; /* seccion del fondo*/
 }
 
 #encabezado{
     height: 15%;
     background-color: #000;
     margin: 1em;
     padding: 0 50px;
     border-radius: 5px ;
     display: flex;   /*bases para poder centrar*/
     justify-content: center;
     align-items: center;
 }
 
 #menu {
     height: 5%;
     background-color: #000;
     margin: 1em;
     border-radius: 5px;
     font-size: 10px; 
     color: red; 
     text-decoration: none;
 }
 
 #contenido{
    height: 75%;
    width: 70%;
    background-color: #000;
    margin: 0.5em;
    display: inline-block;
    border-radius: 5px;
    text-align: justify; /*fondo*/

 }
 
 #fueraSeccion{
     width: 25%;
     height: 75%;
     background-color: #4e2fe5;
     margin: 0.5em;
     display: inline-block;
     vertical-align: top;
     border-radius: 5px;
 }
 #pie {
     height: 5%;
     background-color: #3a251c;
     text-align: center;
     padding: 5px;
 }
 #pie h4{
     padding: 15px;
     font-size: 50px;
 }
 
 /*Selector de etiqueta*/
 ul{
     padding: 15px;
     font-size: 16px;
     text-align: center;
     list-style-type: circle;
 }
 
 li{
     display: inline;
     padding: 10px 30px;
     margin: 1em;
     font-size: 20px; 
     text-decoration: none;
     
 }
 /*Selector de evento*/
 li a:hover {
     color: yellow;
     text-decoration: none;
     list-style: none;
 }
